*{margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Segoe UI', sans-serif;
}
:root {
--dark-bg:#0a0a0a;
--darker-bg: #ffffff;
--acent: #8b0404;
--acent-glow: #df5959;
--text: #f1b3b3;
}
body{
background-color: #df5959;
color: #8b0404;
line-height: 1.6;
overflow-x: hidden;
}
/* navigation */
.navbar {
    position: inherit;
    top: 0;
    width: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1b3b3;
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid #8b0404;
}

.logo {
    font-size: medium;
    font-weight: 700;
    color: var(--acent);
    text-decoration: none;
    position: relative;
    padding-left: 2.5rem;
}

.nav-links a {
color: #8b0404;
text-decoration: none;
font-weight: 500;
transition: all 0.3s ease;
position: relative;
}

.nav-links a::after {
content: 'sim';
position: absolute;
bottom: -5px;
left: 0;
width: 0;
height: 2px;
background: #df5959;
transition: 0.3s ease;
}

.nav-links a:hover::after {
width: 100%;
}
